<h1>Welcome to the Index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br>
<%= link_to 'Index', articles_path, class: "btn btn-default" %><br>
<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart_400x400.png" class="img-responsive" style="width: 140px; height: 140px; margin: 10px;" alt="Responsive image">